#header,
 .module h2, .module caption, .inline-group h2 {
    background: #76ff03;
    color: #fff;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #3d5afe;
}

div.breadcrumbs {
    background: #673ab7;
}